<div class="main-content container-fluid">


        <div class="row">



            <div class="col-md-8 col-md-offset-2">
                <div class="title-get-involved" >get involved</div>
                <br>
                <div class="description">Take a look at our <a href="" class="bear-link" >newcomer docs</a>! <br>
                Or just drop us a message on <a href="" class="bear-link" >Gitter</a> -
                we'd love to help you personally <br>
                If you are looking how to write a bear
                check our bear writing tutorial <a href="" class="bear-link" >here</a>.
                </div>
            </div>


        </div>

    </div>
    <section>
    <div class="container"><br>
    <div class="container-title"><center>meet the community</center></div>
    </div>

    </section>
