<div class="main-content container">

    <div class="col-md-8 col-md-offset-2">
        <div class="input-field col-md-10">
            <input placeholder="Search for a bear or a language" id="search" type="text" class="validate">
        </div>
        <div class="input-field col-md-2">
            <center>
                <div><a class="waves-effect waves-light btn">EXPLORE</a>
                </div>
            </center>
        </div>
    </div>

</div>

<section>
    <div class="container">
    <div class="row showcase">
            <div class="card showcase-card">
                <div class="card-content"></div>
                <div class="card-action"></div>
            </div>
    </div>
</section>


<style type="text/css">
    .showcase{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4em;
    }

    .showcase-card{
        width: 250px;
        margin-left: 2em;
        margin-right: 2em;
        height: 150px;
    }
</style>
